
      html, body, h1, h2, h3, h4, ul, ol, li, p, a {
        padding-bottom: 5px;
        padding-left: 10px;
        border: 0;
        margin: 0;
      }
      h1 {
        color: #000000;
      }
      h2 {
        color: #000000;
        padding-top: 10px;
      }
      h3 {
        color: #333333;
        border-bottom: solid 1px lightgrey;
        padding-top: 5px;
      }
      ul {
      }
      li {
          margin-left: 30px; 
        
      }
      body {
      }
      p {
        color: #444444;
      }
      a {
        color: #440000;
      }
